@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Music Scene";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>The easy way to find music</h2>
</hgroup>

<article>
    <p>
        See what's happening in your area
    </p>

    <p>
        Live Updates 24-7
    </p>

    <p>
        The Freshest Bands and the Best Fans
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>