@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Live Music Scene - Bringing you into the Action.</h2>
        </hgroup>
        <p>
            We bring you the best live music events
            <a href="http://asp.net/webpages" title="ASP.NET Web Pages Website">http://asp.net/webpages</a>.
            Working <mark>24-7 to help you make the most of life!</mark>
      

        </p>
    </div>
</section>
}

<h3>Services we provide</h3>

<ol class="round">
    <li class="one">
        <h5>The Hottest Gigs</h5>
        LiveMusicScene lets you find the latest Gigs and Concerts
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
    </li>

    <li class="two">
        <h5>Manage your events in a single location</h5>
        Forgot the date of the latest Oasis Reunion-Concert? Lost your ticket to that music festival? Not anymore - Manage everything in one place!
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
    </li>

    <li class="three">
        <h5>Host your own events</h5>
        Running a block party? Hosting an underground gig? We can take care of the details using our easy online ticketing system - letting you focus on the fun stuff!
        <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
    </li>
</ol>